<br><br>

<div class="form-div"><center>
    <%= form_for(@student) do |f| %>
    <div>
        <%= f.label 'Name' %>
        <%= f.text_field :name, required: true %>
    </div><br>

    <div>
         <%= f.label 'Category' %>
         <%= f.text_field :category, :required => true %>
    </div>
    <br>

    <div>
        <%= f.label 'Level' %>
        <%= f.select :level, [['Beginner'], ['Moderate'], ['Advanced']], :required => true %>
    </div><br>


        <%= f.submit %>
    <br><br>

    <% end %>
</div></center>