<br><br>

<div class="form-div"><center>
    <%= form_for(@student) do |f| %>
    <div>
        <%= f.label 'Name' %>
        <%= f.text_field :name, class: 'form-field', required: true %>
    </div><br>

    <div>
         <%= f.label 'Category' %>
         <%= f.text_field :category %>
    </div>
    <br>

    <div>
        <%= f.label 'Level' %>
        <%= f.select :level, [['Beginner'], ['Moderate'], ['Advanced']] %>
    </div><br>


        <%= f.submit %>
    <br><br>

    <% end %>
</div></center>