<h2><center>STUDENTS</h2></center>

<p class='important'>Sorted by student level</p><br>


<ul><center>
<% @students.beginner_level.each do |student| %>
        Student: <%= student.name.capitalize %><br>
        Category: <%= student.category.capitalize %><br>
        Level: <%= student.level %><br>
        <% if logged_in? %>
                <%= link_to 'View/Edit Student', student_path(student) %><br><br>
        <% end %>
<% end %>
</ul></center>

<ul><center>
<% @students.moderate_level.each do |student| %>
        Student: <%= student.name.capitalize %><br>
        Category: <%= student.category.capitalize %><br>
        Level: <%= student.level %><br>
        <% if logged_in? %>
        <%= link_to 'View/Edit Student', student_path(student) %><br><br>
<% end %>
        
<% end %>
</ul></center>

<ul><center>
<% @students.highest_level.each do |student| %>
        Student: <%= student.name.capitalize %><br>
        Category: <%= student.category.capitalize %><br>
        Level: <%= student.level %><br>
        <% if logged_in? %>
        <%= link_to 'View/Edit Student', student_path(student) %><br><br>
<% end %>
        
<% end %>
</ul></center>