<%= render partial: 'messages' %>

<br>
<h3 class="studentName"><center><%= @student.name.capitalize %></h3>
<a href="#" class="js-next-student" data-id="<%= @student.id%>"><center>Next Student</a>
<a href="#" class="js-previous-student" data-id="<%= @student.id%>"><center>Previous Student</a>
<p class="studentCategory"><center>Category: <%= @student.category.capitalize %>
<p class="studentLevel">Level: <%= @student.level.capitalize %><br><br></p>
<%= link_to 'SHOW LESSONS', student_lessons_path(@student) %>&nbsp; &nbsp; &nbsp;  <%= link_to 'ADD LESSON', new_student_lesson_path(@student) %></center></p>



<% if current_user %>
    <center><%= link_to 'Edit', edit_student_path(@student) %> &nbsp;|&nbsp;  
    <%= link_to "Delete", [@instructor, @student], method: :delete, data: { confirm: "Delete Student?" } %></p>
<% end %>
    
