<%= render partial: 'messages' %>

<br><br>
<h3><center><%= @student.name.capitalize %></h3>
<p><center>Category: <%= @student.category.capitalize %><br>
Level: <%= @student.level.capitalize %></p></center><br><br>

<p><%= link_to 'Show Lessons', student_lessons_path(@student) %></p>
<p><%= link_to 'Add Lesson', new_student_lesson_path(@student) %></p>



<% if current_user %>
    <center><%= link_to 'Edit Student', edit_student_path(@student) %> &nbsp; 
    <%= link_to "Delete Student", [@instructor, @student], method: :delete, data: { confirm: "Delete Student?" } %></p>
<% end %>
    
