<%= render partial: 'messages' %>

<br><br>
<h3><center><%= @student.name.capitalize %><br>
<%= @student.category.capitalize %><br>
<%= @student.level.capitalize %></h3></center><br><br>

<% if current_user %>
    <center><%= link_to 'Edit Student', edit_student_path(@student) %></center>
<% end %>
    
