<h1><center><%= @instructor.name.capitalize %>'s Homepage</h1>
<div><center>
    <%= @instructor.category.capitalize %>
</center></div>

<p><%= link_to 'Create Lesson', new_lesson_path %><br>
<%= link_to 'Register Student', new_student_path %><br>
<%= link_to 'Create Assignment', new_assignment_path %></p></center>
