<h2><center>LESSONS</h2></center>

<p class='important'>Sorted by most recent date and time</p><br>

<ul><center>
  <% @lessons.recent.each do |lesson| %>
          Instructor: <%= lesson.instructor.name if lesson.instructor %><br>
          
          Scheduled Date: <%= lesson.lesson_datetime.strftime('%b %d %Y at %H:%M %p')%><br>
          <div id="description-<%= lesson.id %>"><%= lesson.description %></div>
          <%= link_to 'View Description', lesson_path(lesson) %><br><br>
          <div id="commentBody-<%= lesson.id %>"></div>
          
          <button class="js-comments" data-id="<%= lesson.id %>">View Comments</button>
          <br><br><br><br>
  <% end %>
</ul>

 <script type="text/javascript" charset="utf-8">
 $(function() {
   $(".js-comments").on("click", function() { 
     var id = $(".js-comments").attr("data-id");
     
     $.get("/lessons/" + id + "/comments.json", function(response) {
       response.forEach(function(comment) {
       $("#commentBody-" + id).append("<p>" + comment["content"] + "</p>")
       });
     });
   });
 });
 </script>











