<h2><center>Lesson Display</h2></center>
<br><br>
<div><center>
    <h5>Student: <%= @lesson.student.name if @lesson.student %></h5><br>
    <h5>Lesson Date and Time: <%= @lesson.lesson_datetime.strftime('%b %d %Y at %H:%M %p') %></h5><br>
    <h5>Instructor: <%= @lesson.instructor.name if @lesson.instructor %></h5><br>
    <h5>Description: <%= @lesson.description %></h5>
</div><br><br>

<% if current_user  %>
    <center><%= link_to 'Edit Lesson', edit_lesson_path(@lesson) %> &nbsp;  
<% end %>

<div class="container lesson-box" id="lesson-comments" data-lesson="<%= @lesson.id %>">
    <h4 class="lesson-title"></h4>
    <ul id="comment-box">
        <% @lesson.comments.each do |comment| %>
            <li> <%= comment.content %> </li>
        <% end %>
    </ul>


    <div class="comment-form">
        <%= form_for([@lesson, @comment]) do |f| %>
            <div class="field row">
                <%= f.text_area :content, class: "h4 col-12" %><center>
            </div><br>

            <%= f.hidden_field :lesson_id, value: @lesson.id %>
            <div class="actions">
                <center><%= f.submit "Add Comment", :class => 'btn btn-primary', id: 'btn btn-primary'%> 
            </div>
        <% end %>
    </div>

</div>

<br><br>








