<!DOCTYPE html>
<html>
  <head>
    <title>PracticeMadePerfect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a id="top"></a>
    <header>
      <nav>
        <p><center>

          <%= link_to "Welcome", root_url %><br>
          <%= link_to "Instructors", instructors_path %><br>
          <%= link_to "Students", students_path %><br>
          <%= link_to "Lessons", lessons_path %><br>
          <div class="logged_in_info">
          <% if logged_in? %>
            <%= link_to "Assignments", assignments_path(current_user) %>
            <%= link_to "Home Page", instructor_path(current_user) %>
            <%= link_to "Log Out", logout_path, method: "delete" %>
          <% end %>
          </div>
        
        </center></p>
      </nav>
    </header>
<div>
    <%= yield %>
  </body>
</html>
